# Java
target/
*.class

# Spring Boot
.log
*.log

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Angular
node_modules/
dist/

# Environment
.env
*.env

# PostgreSQL
*.sql.backup

# Application profiles
backend/trading-platform/src/main/resources/application-dev.yaml

.git

backend/target
frontend/node_modules
frontend/dist

req/