html,
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

app-root {
    display: block;
    width: 100%;
    min-height: 100vh;
}